[mysqld.1]
loose-threadpool_size= 1
loose-threadpool_max_threads= 100
loose-threadpool_oversubscribe = 1
loose-threadpool_idle_timeout= 10000
loose-rds_load_data_infile_enable= true
[client]
connect-timeout= 10