# my.cnf for the PGO training suite. This should be as close as
# possible to my.cnf used on production systems, with the exception of
# resource consumption, because resources on build slaves are usually
# limited. That is why buffer sizes are left at their default values.

!include include/default_mysqld.cnf
!include include/default_client.cnf

[mysqld.1]

connect-timeout=60

# When binary logging is enabled, this variable controls whether
# stored function creators can be trusted not to create stored
# functions that will cause unsafe events to be written to the binary log.
# Set it to 1 so that no restrictions are enforced on
# stored function creation.
log-bin-trust-function-creators=1

# Running MTR with --mem causes var directories to be created in memory.
# Set innodb-buffer-pool-size and innodb-redo-log-capacity to a lower
# value because running tests in parallel, on the ramdisk may consume
# excessive memory.
innodb-buffer-pool-size=128M
innodb-redo-log-capacity=10M
# MAINTAINER:
# the loose- syntax is to make sure the cnf file is also
# valid when building without the performance schema.

performance_schema=OFF

# Set LOG_ERROR_VERBOSITY to 3 as default for MTR tests. This will
# make sure that even note messeges are getting logged in mysqld error
# log file. The note messages will contain important information and
# will be useful while debugging an issue as well.
log-error-verbosity=3
storage_engine_mode=BOTH_STORAGE_ENGINE
default_storage_engine=InnoDB
rds_permission_control=OFF
loose-rds_restricted_dynamic_privileges_control=OFF
loose-rds_extended_partitions_enabled = ON
loose-rds_disable_user_defined_functions = OFF

bind-address=0.0.0.0
binlog-ignore-db=information_schema
binlog_format=ROW
character_set_server=UTF8MB4
innodb_stats_include_delete_marked=ON
enforce_gtid_consistency=ON
expire_logs_days=1
explicit_defaults_for_timestamp=OFF
gtid_mode=on

innodb_file_per_table=ON
innodb_flush_method=O_DIRECT

log_bin_trust_function_creators=ON
log_slave_updates=true

master_info_repository=TABLE
max_binlog_size=67108864

relay-log=rds_mysql-relay-bin
replicate_ignore_db=information_schema

skip-name-resolve

slave_parallel_workers=2
slow_query_log=ON

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_ALL_TABLES
sync_binlog=1

slave_parallel_type=LOGICAL_CLOCK
performance_schema=OFF

block_encryption_mode=aes-128-cbc
binlog_error_action=ABORT_SERVER

relay_log_info_repository=FILE
local_infile=ON
skip_external_locking=ON
max_allowed_packet=1073741824

innodb_flush_neighbors=0
innodb_io_capacity=12000
innodb_io_capacity_max=24000

innodb_page_cleaners=16

innodb_adaptive_hash_index=1

threadpool_enabled=ON
threadpool_size=128
# default storage engine is InnoDB, threadpool use statement mode
threadpool_schedule_mode=statement

transaction_isolation=READ-COMMITTED
table_open_cache=16384
table_open_cache_instances=64
thread_cache_size=128

# allow execute load data infile
loose-rds_load_data_infile_enable=ON

# dstore engine related parameter
# dstore buffer pool size 512MB
loose-dstore_buffer=65536
loose-dstore_buffer_lru_partition=256
loose-dstore_check_point_timeout=60
loose-dstore_ncores=2770
loose-dstore_log_min_messages=7
loose-dstore_fold_period=0
loose-dstore_fold_level=0
loose-dstore_lock_hash_table_size=28160
loose-dstore_lock_table_partition_num=16
loose-dstore_enable_lazy_lock=false
loose-dstore_vfs_tenant_isolation_config_path=null
loose-dstore_num_obj_space_mgr_workers=5
loose-dstore_prob_of_extension_threshold=1
loose-dstore_wal_level=2
loose-dstore_recovery_worker_num=1
loose-dstore_synchronous_commit=true
# dstore_wal_file_size do not allowed to change after initialization
# loose-dstore_wal_file_size=3221225472
loose-dstore_wal_buffers=131072
loose-dstore_wal_flush_timeout=300
loose-dstore_wal_read_buffer_size=536870912
loose-dstore_wal_redo_buffer_size=268435456
loose-dstore_wal_writer_cpu_bind=48
loose-dstore_wal_keep_segments=16
loose-dstore_bg_wal_writer_min_bytes=51200
loose-dstore_wal_each_write_lenghth_limit=524288
loose-dstore_disable_btree_page_recycle=false
loose-dstore_deadlock_time_interval=20000
loose-dstore_bg_disk_writer_slave_num=1
loose-dstore_bg_page_writer_sleep_millisecond=2000
loose-dstore_wal_throttling_size=838860800
loose-dstore_max_io_capacity_kb=1048576
loose-dstore_bulk_read_ring_size=16384
loose-dstore_bulk_write_ring_size=2097152
loose-dstore_csn_thread_bind_cpu=33
loose-dstore_enable_perf_timers=false
loose-dstore_perf_level=OFF
