# Test recovery crash during remote clone command to replace data directory
[mysqld]
rds_dstore_enable_atomic_ddl=false
default-storage-engine=InnoDB
default_tmp_storage_engine=InnoDB
storage_engine_mode=ONLY_INNODB
disabled_storage_engines=CSV,Memory,Dstore,MyISAM,MRG_MyISAM
rds_dstore_support_binlog_check=off

[mysqld.1]
server_id=1
rds-load-data-infile-enable=true
default-storage-engine=InnoDB
default_tmp_storage_engine=InnoDB
storage_engine_mode=ONLY_INNODB
disabled_storage_engines=CSV,Memory,Dstore,MyISAM,MRG_MyISAM

[mysqld.2]
server_id=2
rds-load-data-infile-enable=true
default-storage-engine=InnoDB
default_tmp_storage_engine=InnoDB
storage_engine_mode=ONLY_INNODB
disabled_storage_engines=CSV,Memory,Dstore,MyISAM,MRG_MyISAM

[ENV]
SERVER_PORT_1 = @mysqld.1.port
SERVER_SOCK_1 = @mysqld.1.socket

SERVER_PORT_2 = @mysqld.2.port
SERVER_SOCK_2 = @mysqld.2.socket
