!include include/default_my.cnf
[mysqld]
rds_write_binlog_into_redo=on
enforce_gtid_consistency=on
gtid_mode=on
rds_binlog_concurrent_commit=on
binlog_transaction_dependency_tracking=COMMIT_ORDER
dstore_use_histogram_auto_update=off
