{
    "obs_mode": true,
    "buffer_len": 16777216,
    "obs_url": "obs.cn-southwest-244.ulanqab.huawei.com",
    "ak": "",
    "sk": "",
    "bucket_name": "taurus-dstore-bak",
    "uri_style": 0,
    "scc_decrypt": false,
    "scc_conf": "",
    "max_connected_time": 0,
    "sleep_interval": 0,
    "sleep_time_ms": 10,
    "base_path": ""
}