!include ../my.cnf

[mysqld.1]
default-storage-engine=InnoDB
default_tmp_storage_engine=InnoDB
storage_engine_mode=ONLY_INNODB
disabled_storage_engines=CSV,Memory,Dstore,MyISAM,MRG_MyISAM

[mysqld.2]
default-storage-engine=InnoDB
default_tmp_storage_engine=InnoDB
storage_engine_mode=ONLY_INNODB
disabled_storage_engines=CSV,Memory,Dstore,MyISAM,MRG_MyISAM

[mysqld.3]
default-storage-engine=InnoDB
default_tmp_storage_engine=InnoDB
storage_engine_mode=ONLY_INNODB
disabled_storage_engines=CSV,Memory,Dstore,MyISAM,MRG_MyISAM

[ENV]
SERVER_MYPORT_3=		@mysqld.3.port
SERVER_MYSOCK_3=		@mysqld.3.socket
